// If ICV is segfaulting try this. It doesn't like empty cells like the endcap or ties
// Nowadays the option is mostly set to BOTH so that ICV will detect if there are 
// empty cells not defined as equiv/bbox cells. Setting to NONE kind of release the 
// restriction and ICV will explode empty cells away if they are not defined as 
// equiv/bbox cells, introducing risks that users may forget to provide equiv/bbox. 
//
//compare(define_empty_cell_as_device=NOTE);

// Black box and lvs options based on this:
//https://solvnetplus.synopsys.com/s/article/Prohibiting-Device-Leveling-of-Black-Box-Cells-During-Netlist-Extraction-1576092548647
//and
//https://spdocs.synopsys.com/dow_retrieve/qsc-v/dg/icvolh/V-2023.12-SP3/icvolh/icvlvsug/layout_versus_schematic_flows/creating_black_box_lvs_flow.html
//and
//https://spdocs.synopsys.com/dow_retrieve/qsc-x/dg/icvolh/X-2025.06/icvolh/icvrefman/runset_functions_j_z/lvs_black_box_options.html


//equiv_options(
//   equiv_cells = {
//      {"gf180mcu_fd_ip_sram__sram256x8m8wm1","GF180MCU_FD_IP_SRAM__SRAM256X8M8WM1"},
//      {"gf180mcu_fd_ip_sram__sram512x8m8wm1","GF180MCU_FD_IP_SRAM__SRAM512X8M8WM1"}
//   }
//);
//
//lvs_black_box_options(
//   equiv_cells = {
//      {"gf180mcu_fd_ip_sram__sram256x8m8wm1","GF180MCU_FD_IP_SRAM__SRAM256X8M8WM1"},
//      {"gf180mcu_fd_ip_sram__sram512x8m8wm1","GF180MCU_FD_IP_SRAM__SRAM512X8M8WM1"}
//   }
//);
//
//lvs_options(
//   device_extraction_preserved_cells = {
//      "GF180MCU_FD_IP_SRAM__SRAM256X8M8WM1",
//      "GF180MCU_FD_IP_SRAM__SRAM512X8M8WM1"
//   }
//);
//
