# openocd-croc.cfg
adapter driver jlink
transport select jtag
adapter speed 4000

set _CHIPNAME croc

# Updated to reflect JtagCrocVersion = 4'h0 from RTL
set _CPUTAPID 0x0c0c5db3 

# RISC-V debug module TAP instruction register length
jtag newtap $_CHIPNAME cpu -irlen 5 -expected-id $_CPUTAPID

set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME riscv -chain-position $_TARGETNAME

init
halt