# openocd-croc.cfg
adapter driver jlink
transport select jtag
adapter speed 4000

set _CHIPNAME croc

# croc_pkg::PulpJtagIdCode with version=4'h1 ("2nd version (2026)")
set _CPUTAPID 0x1c0c5db3

# RISC-V debug module TAP instruction register length
jtag newtap $_CHIPNAME cpu -irlen 5 -expected-id $_CPUTAPID

set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME riscv -chain-position $_TARGETNAME

init
halt